body ,html{
    background-color: #3a3a3a;
}
.Main{
    background-color: #afafaf;
    width: 90%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;

}
.Main .left h1{
    font-family: "Boldonse", system-ui;
    position: absolute;
    margin-left: 500px;
    font-style: normal;
    font-weight: bolder;
    color: #292929;
    font-size: 80px;
}
.left{
    height: 900px;
    width: 70%;
}
.right{
    height: 900px;
    background-color: #afafaf;
    box-shadow: -14px -3px 22px -7px rgba(101, 101, 101, 1);
    border-radius: 30px;
    width: 30%;
    overflow-x: hidden;
}
.Isaac {
    position: absolute;
    margin-left: -430px;
    margin-top: -707px;
}
.left h2{
    font-size: 30px;
    color: #292929;
    width: 400px;
    margin-top: 180px;
    margin-left: 600px;
    font-family: "Boldonse", system-ui;
    font-style: normal;
    font-weight: bolder;
}
.left h3{
    margin-top: -300px;
    margin-left: 30px;
    font-family: "Boldonse", system-ui;
    font-style: normal;
    font-weight: bolder;
    color: #292929;
}
.left h4{
    margin-left: 30px;
    font-family: "Boldonse", system-ui;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    color: #292929;
    width: 400px;
}
.right{
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}
.right h1{
    color: #292929;
    font-size: 40px;
    width: 30px;
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-style: normal;
    font-weight: bolder;
    margin-left: 30px;
}
.right h2{
    font-size: 18px; 
    color: #292929;
    font-family: "Boldonse", system-ui;
    font-style: normal;
    font-weight: bolder;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.right h3 {
    color: #292929;
    font-family: "Boldonse", system-ui;
    font-style: normal;
    margin-left: 20px;
    font-weight: bolder;
}
.right h4 a {
    font-family: "Boldonse", system-ui;
    font-style: normal;
    font-weight: bolder;
    margin-left: 20px;
    color: #292929;
    text-decoration: none;
}